{{define "content"}}
<h1>{{.T.UINavPublications}}</h1>
<form class="form" method="get" action="/pub">
  {{- if .Lang}}<input type="hidden" name="lang" value="{{.Lang}}">{{end}}
  <div class="fields">
    <label>{{.T.UISymbol}} <input type="text" name="pub" value="{{.Pub}}" placeholder="nwt, w, g" autocapitalize="off" autofocus></label>
    <label>{{.T.UIDocID}} <input type="text" name="docid" value="{{.DocID}}" inputmode="numeric"></label>
    <label>{{.T.UIIssue}} <input type="text" name="issue" value="{{.Issue}}" placeholder="202405" inputmode="numeric"></label>
    <label>{{.T.UIBook}} <input type="text" name="booknum" value="{{.BookNum}}" placeholder="1-66" inputmode="numeric"></label>
    <label>{{.T.UITrack}} <input type="text" name="track" value="{{.Track}}" inputmode="numeric"></label>
    <label>{{.T.UIFormats}} <input type="text" name="fileformat" value="{{.Formats}}" placeholder="PDF,EPUB,MP3" autocapitalize="characters"></label>
  </div>
  <div class="actions">
    <button type="submit" class="primary">{{.T.UIListFiles}}</button>
    <label class="check"><input type="checkbox" name="allLangs" value="true" {{if .AllLangs}}checked{{end}}> {{.T.UIAllLanguages}}</label>
  </div>
</form>

{{- if .Heading}}
<h2 class="listheader">{{.Heading}}</h2>
{{template "listing" .}}
{{- end}}
{{end}}
